__pycache__/
.vscode/
.github
data/*
!data/.gitkeep
sbatch_folder
slurm_output
sbatch_history.txt
wandb
wandb_logs
logs
*.ckpt
saved_images
ckpt_dir/*
*.png
dataset_cache
.DS_Store
*.pptx
*.json
lightning_logs
*.gif
*/cache
toy_datasets/outputs
toy_datasets/evaluations
toy_datasets/data
toy_datasets/visualizations
toy_datasets/config/remote.yaml
toy_datasets/comparison_results
paper
__ignore_*
._.DS_Store
*.pdf
